.jj-header {
    height: 3.75rem;
    display: flex;
    align-items: center;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    border: 0.0625rem solid rgb(233, 236, 239);
    background-color: white;
}

.jj-header > .jj-header-text {
    margin-left: 0.5rem;
    font-weight: bold;
    font-size: 1.2rem;
}